.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(23, 26, 218, 0.349);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2,
.contact-form h2 {
    color: #cef104;
}

.contact-info p {
    margin-bottom: 10px;
    color: #ffffff;
}

.contact-form label {
    display: block;
    margin: 10px 0;
    color: #ffffff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #ec1414;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Make the button a block element to center it */
}

.contact-form button:hover {
    background-color: #555;
}